:root {
  --primary-color: #c72727;
  --secondary-color: #f99500;
  --light-color: #f3f3f3;
  --dark-color: #333;
  --max-width: 1100px;
}

.category {
  --sports-color: #f99500;
  --ent-color: #a66bbe;
  --tech-color: #009cff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  background: var(--light-color);
}
p {
  margin: 0.5rem 0 ;
}

a {
  color: #333;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

h1, h2, h2, h4 {
  font-family: 'Staatliches', cursive;
  margin-bottom: .5rem;
  line-height: 1.3;
}
.bg-dark {
  background: var(--dark-color);
  color: #fff;
}

.bg-primary {
  background: var(--primary-color);
  color: #fff;
}


.bg-secondary {
  background: var(--secondary-color);
  color: #fff;
}

/* .bg-dark h1,
.bg-dark h2,
.bg-dark h3,
.bg-dark a,
.bg-primary h1,
.bg-primary h2,
.bg-primary h3,
.bg-primary a,
.bg-secondary h1,
.bg-secondary h2,
.bg-secondary h3,
.bg-secondary a {
  color: #fff;
} */

.py-1 { padding: 1.5rem 0 }
.py-2 { padding: 2rem 0 }
.py-3 { padding: 3rem 0 }
.p-1 { padding: 1.5rem }
.p-2 { padding: 2rem }
.p-3 { padding: 3rem }


.category {
  font-size: 0.7rem;
  text-transform: uppercase;
  display: inline-block;
  padding:  .4rem 0.7rem ;
  color: white;
  border-radius: 1rem;
  margin: .6rem 0;
}

.category-sports { background: var(--sports-color) }
.category-ent { background: var(--ent-color) }
.category-tech { background: var(--tech-color) }

.btn {
  display: inline-block;
  padding: .5rem 1rem;
  background-color: var(--dark-color);
}
.btn:hover {
  opacity: 0.8;
}
.btn-block {
  display: block;
  width: 100%;
  text-align: center;
}
.btn-light { background: var(--light-color) }
.btn-primary { background: var(--primary-color) }
.btn-secondary { background: var(--secondary-color) }

#main-nav {
  position: sticky;
  top: 0;
  z-index: 2;
}

.container {
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  overflow: hidden;
  background: white;
  /* position: sticky; */
  /* z-index: 2; */
  /* top: 0px; */
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  /* position: relative; */
  align-items: center;
}
.container img {
  width: 180px;
}
.container .social {
  justify-self: end;
} 
.container ul {
  text-align: right;
}
.container .social i {
  color: gray;
  padding: 5px 5px;
}
.container ul li {
  display: inline-block;

}
.container ul li a {
  font-weight: bold;
  padding: 8px 12px;
  background-color: lightgray;
  
}
.container ul li a.current {
  background-color: var(--primary-color);
  color: white;
}
.container ul li a:hover{
  background: var(--light-color);
  color: var(--dark-color);
}

#showcase {
  width: 100%;
  height: 300px;
  background: url('/img/featured.jpg') no-repeat center center/cover;
  opacity: .9;
}
#showcase .shadow {
  background-color: rgba(0, 0, 0, 0.5);
  height: inherit;
  width: inherit;
}

.show-container {
  margin-left: 50px;
  display: flex;
  height: inherit;
  flex-direction: column;
  max-width: 500px;
  color: white;
  /* justify-content: center; */
  align-items: start;
}
/* .show-container item  */

.show-container p {
  margin-bottom: 2rem;
}

.container-ar {
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

#home-articles > h2 {
  text-align: center;
}

.card {
  background-color: white; 
  padding: 1rem;
}

.card:nth-child(1) {
  grid-column: 1 /span 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  align-items: center;
  background-color: #c72727;  
}
.card:nth-child(7) {
  align-items: center;
  grid-gap: 1rem;
  grid-column: 2 /span 2;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr 1fr;
}

#home-articles > .container-ar > .card:nth-child(2) {
  background-color: #333 ;
  color: white;
}
#home-articles > .container-ar > .card:nth-child(2) a {
  color: white;
}
#home-articles > .container-ar > .card:nth-child(6){
  color: white;
  background-color: var(--primary-color);
}
footer {
  background-color: #333;
}
    footer * {
  color: white;
}
.container-ft {
  max-width: 1100px;
  padding: 1rem;
  margin: auto;
}

.container-footer {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  /* grid-template-rows: repeat(2,auto); */
  grid-gap: 1rem;
}

.container-footer >* {
  padding: 1rem;
}
.container-footer > div:nth-child(3) >* {
  display: block;
  padding-top: 1rem;
  border-bottom: #222 1px dotted;

}
.container-footer > div:nth-child(3) > a:hover {
  color: var(--primary-color);
}
.container-footer > div:nth-child(2) >* {
  display: block;
  margin-bottom: 1rem;
}
.container-footer > div:nth-child(1) >*,
.container-footer > div:nth-child(4) >* {
  margin-bottom: 1rem;
}
.container-footer > div:nth-child(2) > #email  {
  width: 100%;
  border: none;
  padding: .8rem;
}
.container-footer >*:last-child {
  text-align: center;
  grid-column: 1 / span 4;
  background-color: #555;
  border-radius: 2px;
}

.container-about {
  max-width: 1100px;
  margin: auto;
  padding: 2rem;
}

.about-info  {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: 5fr 2fr;
}

.art{
  grid-row: 1 / spam 4;
}

.about-info .art {
  background-color: white;
}

.join  {
  /* color: white; */
  padding: 1rem;
}
.join * {
  color: white;
} 

.about-info  h1 {
  font-size: 3rem;
}
.autor {
  padding: .5rem;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
i {
  padding: 0.3rem;
}

.list {
  list-style: none;
}
.list li {
  padding: .5rem;
  border-bottom: 1px #333 dotted;
}
.list li a:hover {
  color: var(--primary-color);
}